.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 45px;
}

.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
}

.cart-container{
    background: #FFE0B3;
    border-radius: 8px;
    padding: 20px;
    height: 100vh;
    position: sticky;
    top: 0px;
}